.box {
    height: 100px;
    width: 100px;
    
  }
  .go {
    background-color: rgb(88, 196, 136);
  }
  #image1 {
    width: 500px;
    padding:100PX ;
  }
  div{
    color:rgb(36, 51, 136);
  } d